.container{
    text-align: center;
    margin-top: 30px;
    background:-moz-linear-gradient(to right,rgb(25, 110, 207),rgb(22, 179, 27));
    font-size:30px ;
    border: 12px solid black;
    font-style: normal;
}

h1{
    background: -moz-linear-gradient(to right,rgb(0, 0, 0)
    ,rgb(149, 41, 41));
    color: rgb(184, 205, 223);
    text-shadow: 2px 2px rgb(55, 22, 145);
}
table {
    margin: auto;
}
input{
    font-size: 30px;
    border:5px solid rgb(98, 18, 18);
    border-radius: 18px;
    display: inline-block;
    background:-moz-linear-gradient(to right,rgb(208, 51, 223),
    rgb(217, 200, 221));
}
button{
    font-size: 40px;
    background:-moz-linear-gradient(to right,rgb(207, 25, 122),
    rgb(221, 136, 210));
width: 70px;
height: 63px;
border-radius: 12px;
padding:3px;
border: 2px solid #00000f;
font-family: 'Times New Roman', Times, serif;
font-weight: bolder;
box-shadow: 2px 2px;
color: rgb(16, 7, 24);

}

.calculator{
  display: inline-block;
  background:-moz-linear-gradient(to right,rgb(240, 122, 26),
  rgb(179, 155, 22));
  border-radius: 25px;
padding: 30px;
box-shadow:5px 5px;

}
#time{
text-align: center;
color: rgb(255, 240, 247);
text-shadow: 0.5px;
}
